<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>swayamTHOUGHT.com</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        body{
            padding: 30px;
        }
        span{
            color: red;
        }
        .image{
          height: 100px;
          width: 100px;
          margin: 10px;
        }
    </style>
</head>
<body>
    
    <h1>Image post</h1>
    <form class="" action="/photoUpload" method="post">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="title">
        <label>url</label>
        <textarea class="form-control" name="url" rows="5" cols="30"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>
<hr>
<%photos.forEach(post =>{%>
  <img class="image" src="<%=post.url%>"alt=""><br>
<%})%>
</body>
</html>